* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --squares: 2;
  --squareWidth: 240px;
}
body {
  font-family: 'Roboto', sans-serif;
  background: #100e17;
  color: white;
}

/** Heading for the name of the game "Etch-A-Sketch" */
h1 {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  position: absolute;
  top: 30%;
  left: 3em;
  background-image: linear-gradient(0deg,#ff8a00,#e52e71);
  border-radius: 16px;
  padding: 2rem;
}

/** Reset button  */
.topBtn {
  display: block;
  margin: 5px auto;
  background-image: linear-gradient(to top left,#ff8a00,#e52e71);
  font-family: inherit;
  font-weight: 700;
  border-radius: 8px;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  text-align: center;
  margin-top: 0;
  color: white;
}

/** All the squares */
.container {
  margin-top: 10px;
  display: grid;
  grid: repeat(var(--squares), var(--squareWidth)) / 
        repeat(var(--squares), var(--squareWidth));
  justify-content: center;
  border: 5px solid;
  border-radius: 10px;
  width: 640px;
  margin: 0 auto;
  box-sizing: content-box;
  border-image: linear-gradient(#ff8a00,#e52e71) 30;
  background: white;
}
.square {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/** Effect buttons */
.effectBtns {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 25%;
  right: 30px;
}

/** Instruction: pick a color */
p {
  font-size: 3em;
  background: -webkit-linear-gradient(#ff8a00,#e52e71);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Indie Flower', cursive;
}
.effectBtns button {
  margin: 10px;
  cursor: pointer;
  background-image: linear-gradient(to top left,#ff8a00,#e52e71);
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  font-size: 1em;
  color: white;
  border: 0;
  border-radius: 8px;
  white-space: nowrap;
  padding: 1rem 1.5rem;
  line-height: 1.4;
  text-align: center;
}

